@charset "utf-8";
@import "base.less";
@import "helpers.less";

@black : '#333';
@imgpath : '../images/';
.bg(@img: "", @color: " ", @repeat: "no-repeat", @x: "0", @y: "0", @att: " ") {
    background: e(%("%s", @color)) e(%("url(%s%s)", @imgpath, @img)) e(%("%s", @repeat)) e(%("%s", @att)) e(%("%s", @x)) e(%("%s", @y));
}

/* Specifc to Site */
body {
	width:960px;
	margin:0 auto;
	.bg('bg-body-960.png','#F4F4F4','repeat-y', 'center', 0)
}
	h1 {
		font-size:175%;
		font-weight:normal;
		font-family:Verdana, Geneva, sans-serif;
		margin:30px 20px 30px;
	}
	p {
		margin:1em 30px;
	}
	#animations {
		float:right;
		margin-right:30px;
	}