@charset "utf-8";
@import "base.less";
@import "helpers.less";

@black : '#333';
@images : '../images/';

/* Specifc to Site */
body {
	width:960px;
	margin:0 auto;
	background:#F4F4F4 url("@{images}bg-body-960.png") repeat-y center 0;
}
	h1 {
		font-size:175%;
		font-weight:normal;
		font-family:Verdana, Geneva, sans-serif;
		margin:30px 20px 30px;
	}
	p {
		margin:1em 30px;
	}
	#animations {
		float:right;
		margin-right:30px;
	}